@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

@font-face {
  font-family: 'Fashion Victim';
  src: url(fonts/fashion-victim.woff2) format('woff2');
}

* {
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

body {
    background-color: black;
    color: white;
}

.container {
    max-width: 840px;
    margin-left: auto;
    margin-right: auto;
}

header {
    padding-top: 4rem;
    background-image: url(img/suit.jpg), url(img/bg.jpg);
    background-position: center, center;
    background-repeat: no-repeat, repeat-x;
    height: 360px;
}

h1.site-title {
  font-family: 'Fashion Victim';
  font-size: 6rem;
  font-weight: normal;
  text-align: center;
}

h1.site-title span {
  margin: 0 2rem;
}

.product {
    margin-top: -5rem;
    padding: 3rem;
    background-color: #141518;
}

.product__image {
    width: 6rem;
    height: auto;
}

.t-shirt {
    stroke: #000;
    stroke-width: 2;
}

.white,
.black,
.red,
.skyBlue {
  border-radius: 50%;
  height: 35px;
  width: 35px;
}
.white:hover,
.black:hover,
.red:hover,
.skyBlue:hover {
box-shadow: 0 12px 12px 0 rgba(255, 251, 251, 0.24), 0 17px 50px 0 rgba(255, 252, 252, 0.19); 

}

.black {
  background-color: black;
}
.red {
  background-color: red;
}
.skyBlue {
  background-color: skyblue;
}